<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}"> 
    <title>dinasour</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: cornsilk;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/backtohome">Animal Farm</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/backtohome">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/get_data">add A dinasour</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" action="/logout">
              <button class="btn btn-outline-success" >Logout</button>
            </form>
          </div>
        </div>
      </nav>
      <div>
        <table class="table">
            <thead>
                <tr style="color: cornsilk;">
                    <th>Dino_name</th>
                    <th>length</th>
                    <th>when it lived</th>
                    <th>Description</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <tbody>{%for x in dinopower%}
                <tr style="color:cornsilk;">
                    <td>{{x.dino_name}}</td>
                    <td>{{x.length}}</td>
                    <td>{{x.When_it_lived}}</td>
                    <td >{{x.Description}}</td>
                    <td><img src="{{x.img_link}}" alt="{{x.img_link}}" style="height:100px; width: 100px;"></td>
                </tr>{%endfor%}
            </tbody>
        </table>
      </div>
      <form action="/add_dinosaur" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
            <div class="mb-3">
                <label for="dino_name" class="form-label">dino_name</label>
                <input type="text" class="form-control" name="dino_name" >
            </div>
            <div class="mb-3">
                <label for="length" class="form-label">length</label>
                <input type="number" class="form-control" name="length" >
            </div>
            <div class="mb-3">
                <label for="when_it_lived" class="form-label">when_it_lived</label>
                <input type="text" class="form-control" name="when_it_lived">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" name="Description" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>